@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

h3{
  /* font-family: 'Libre Baskerville', serif; */
  font-family: 'Gabriela', serif;
  color: white;


}
#nav{
    background-color: darkcyan;
}

#sources{
  background-image: url('../images/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* .form-control input{
  width: 50%;
} */

#sourcename{
  font-family: 'Gabriela', serif;
  font-weight: bold;
  background-color: #6bc5d2;
}
.overlay{
  background-color: rgba(39, 42, 42, 0.884);
}
