{extends 'base.html'%}
{% import 'macros.html as macro%'}

{% block content %}
<div class="container" id="allsource">
   <div class="overlay">
    <h2 class="text-align center">General News </h2>
    {{ macro.display_new_source(general)}}

    <h2 class="test-align center">Business News</h2>
    {{ macro.display_new_source(business)}}

    <h2 class="text-align center">Sports News</h2>
    {{ macro.display_new_source(sports)}}
    
    <h2 class="text-align center">Tchnology News</h2>
    {{ macro.display_new_source(technology)}}
</div>
</div>

{% endblock%}